.container {
    margin-top: 30px;
}

.title h3 {
    font-size: 80px;
}

.title h2 {
    font-size: 30px;
    text-align: end;
    font-weight: 400;
}

.post {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.imgContainer {
    flex: 1;
    height: 300px;
    position: relative;
}

.image {
    object-fit: cover;
    border-radius: 10px;
}

.txtContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postTitle {
    font-size: 30px;
}

.postDesc {
    font-size: 20px;
    font-weight: 300;
    color: var(--softTextColor);
}

.button {
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    width: max-content;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .title h3{
        font-size: 60px;
    }

    .title h2{
        font-size: 25px;
    }
}

@media screen and (max-width: 995px) {
    .title h3{
        font-size: 50px;
    }

    .title h2{
        font-size: 20px;
    }

    .postTitle {
        font-size: 20px;
    }

    .postDesc {
        font-size: 16px;
    }

    .button {
        padding: 5px 5px;
    }

    .imgContainer {
        height: 250px;
    }
}

@media screen and (max-width: 830px) {
    .title h3{
        font-size: 50px;
    }

    .title h2{
        font-size: 25px;
    }

    .post {
        flex-direction: column;
    }

    .imgContainer {
        width: 100%;
        flex:auto;
    }

    .button {
        padding: 16px 20px;
    }
}

@media screen and (max-width: 576px) {

    .title h3{
        font-size: 30px;
    }

    .title h2{
        font-size: 15px;
    }
}